@import url('https://css.gg/menu.css');
@import url('https://css.gg/arrow-left-o.css');
@import url('https://css.gg/arrow-right-o.css');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Montserrat:wght@200&family=Playfair+Display+SC&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main{
  font-size:1rem;
}
/* img{
  z-index: 1;
} */
.gg-menu{
  cursor: pointer;
}

.header__menu__btn:active,
.gg-menu:active{
   color: #c6c6c6;
}