/* .sample{
    background-color: aqua;
    height:100px;
    width: 100px;
} */

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.modal-image{
    display:inline-block;
    height: 350px;
    width:55%;
    border-radius: 10px 0 0 10px;
    filter:grayscale(100%)
}

.subscriber{
    height: 300px;
}

.subscriber__form{
    display:inline-block;
    height: 350px;
    width:45%;
    background-color: #000000;
    border-radius: 0 10px 10px 0;
}

.testDiv{
    display:inline-block;
}

.modal-image,
.subscriber__form{
    vertical-align: top;

}

.subscriber__cta{
    width:100%;
    height: 200px;
    /* background: blue; */

}

.subscriber__btn{
    display: block;
    width:110px;
    height:35px;
    border-radius: 10px;
    margin: 25% auto;
    font-family: 'Kaushan Script', cursive;
}

.subscriber__content{
    padding:10%;
    font-size: 30px;
     text-align: center; 
     color:#ffffff; 
 } 