.content-container{
    margin-bottom: -5px;
}

.label-container{
    color:#d5d1d1;
    display:inline-block;
}
.input-container{
   display:inline-block;
   margin-left: 2%;
}

form{
    display: inline-block;
    width:400px;
    height: 450px;
    vertical-align: top;
    background-image: linear-gradient(to bottom, rgb(77, 74, 74), rgb(0, 0, 0));
    padding-top:20%
}

.testcontianer{
    color:red;
    display: inline-block;
}

form input[id='testlable2']{
    display:inline-block;
    background-color: aqua;
}


.container{
    display: inline-block;
    width:calc(100% - 400px);
    vertical-align: bottom;
}
.contact-img{
   width: 100%;
   height: 450px;
   filter: grayscale(100%);
}