.main-img{
    background: url('../images/femalemodel19.jpg'); 
    background-position:0% 50%;
    background-size: cover;
    background-repeat: none; 
}

.fem-img{
  height: 18.75rem;
  width: 100%;
}

