.main-img{
    background: url('../images/malemodel2.jpg');
    background-position:0% 12%;
    background-size: cover;
    background-repeat: none;
}


.male-img{
    height: 18.75rem;
    width: 100%;
}