.culture__main-img{
    height:40rem;
    width: 100%;
    filter: grayscale(100%);
    vertical-align: bottom;
    overflow: hidden;
}

.culture__img-container2{
    background: url('../../images/featuredimg2.jpg');
    background-position: 5% 15%;
    background-size:cover;
    background-repeat: none;
    display: inline-block;
    height: 450px;
    width: 50%;
    vertical-align: bottom;
}
.culture__milan-details > h1{
    margin-top:10%;
}
.culture__milan-details{
    display:inline-block;
    vertical-align:top;
    height: 400px;
    width:50%;
}
.culture__title{
    text-align: center;
    text-decoration: underline;
    margin: 0 auto;
}
.culture__milan-paragraph{
    padding: 0 30px;
    margin-top: 2%;
}
.culture__paris-paragraph{
    padding: 0 30px;
    margin-top: 2%;
}

.culture__paris-paragraph + p{
   padding-left: 30px;
   padding-right: 30px;
}

.culture__paris-details{
    /* background-color: red; */
    display: inline-block;
    vertical-align: bottom;
    height: 400px;
    width:50%;
}

.readmore-btn{
    display: block;
    margin: 10% auto;
    color:#ffffff;
    background-color: #000000;
    border:none;
}

.readmore-btn:active{
    background-color: #b4b4b4;
    color:#000000;
    text-decoration: underline;
}
.culture__img-container3{
    display:inline-block;
    position:relative;
    background: url('../../images/femalemodel9.jpg');
    background-position: 5% 80%;
    background-size:cover;
    background-repeat: none;
    filter: grayscale(100%);
    width: 50%;
    height: 450px;
    margin-top:0;
    margin-bottom: 0;
    vertical-align: bottom;

}
.culture__milan-img{
    display: block;
    margin-top: 0;
    height:450px;
    width:10%;
}