.header{
   height: 25px;
   background-color: white;
   position: sticky;
   top:0;
   left:0;
   z-index:100;
}
.header__logo{
   display: inline-block;
}
.header__menu__btn {
   display: inline-block;
   margin-bottom: 7px;
   position: relative;
   left:75%;
}

.title-wrapper{
   display:inline-block;
   margin-top: -15px;
   margin-bottom:0px;
   vertical-align: top;
   position:relative;
   left:37%;

}