.intro{
   margin-top: 20px;
}

.intro__img,
.intro__decription{
  height: 300px;
  display: inline-block;
  vertical-align: middle;
}

.intro__img{
  background-color: orange;
  margin: 0 10px 0 20px;
  width:45%;
}

.intro__decription{
 width: 45%;
 margin: 0 20px 0 15px;
 background-color: chartreuse;
}

.intro__title{
  text-align: center;
  margin: 0 auto;
}