.intro{
   margin-top: 20px;
   position:relative;
}

.intro__img,
.intro__decription{
  height: 300px;
  display: inline-block;
}

.intro__img{
  background-color: orange;
  position:absolute;
  left:20px;
  width:50%;
}

.intro__decription{
 width: 40%;
 background-color: chartreuse;
 position:absolute;
 right:30px;
}

.intro__title{
  text-align: center;
  margin: 0 auto;
}