.nav{
    position:fixed;
    left:75%;
    height: 100vh;
    width:200px;
    z-index:100;
    background-color: rgba(255, 255, 255, 0.884);
}

ul{
   padding-top: 20%;
   padding-left: 35%;
}

li{
    list-style: none;
}

li > a {
    text-decoration: none;
    color:black;
}