.container{
    height: 300px;
}

.models{
    display:inline-block;
    vertical-align: top;
    height:300px;
    width: 33%;
}

.imgtag{
    height:300px;
    width:100%
}

.models:nth-of-type(2){
   background-position: 5px 50px;
   filter:grayscale(100%)
}

.models:nth-of-type(3){
    filter:grayscale(100%)
}